# =========================
# ENV / CONFIG
# =========================
.env
docker/.env

# =========================
# AIRFLOW
# =========================
airflow/logs/
airflow/logs/*
airflow/*.pid

# =========================
# DOCKER / VOLUMES
# =========================
docker/postgres/data/
docker/minio/data/

# =========================
# JARS / DEPENDENCIES
# =========================
*.jar

# =========================
# TEMP FILES
# =========================
*.tmp
*.log
*.swp
.DS_Store

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc

# =========================
# IDE
# =========================
.vscode/
.idea/